@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  background-color: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
}

@layer components {
  .scrollbar {
    overflow: auto; /* Only show scrollbar when there's overflow */
  }

  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 90vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 100vh;
    border: 3px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
  }
}